{% extends "clothatar/base.html" %}
{% load staticfiles %}
{% block content %}
        <div class="col-lg-8">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{% static pic_name %}" alt="">
            <div class="card-body">
              <h3 class="card-title">Product Name</h3>
              <h4>$24.99</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>

              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-4">
        <div class="thumbnail">
          <br>
          <br>
          <a href="/w3images/nature.jpg">
            <img src="{% static 'img/atmos-here.jpg' %}" alt="Nature" style="width:30%">
          </a>
        </div>
        <div>
          <h4 class="my-4">{{ match_result.description }}</h4>
    	    <form action="">
            <div class="form-group">
            <select name="Size select">
	            <option value="">Pick a size ...</option>
	         	<option value="AU 6">"AU 6"</option>
            	<option value="AU 8">"AU 8"</option>
        			<option value="AU 10">"AU 10"</option>
        			<option value="AU 12">"AU 12"</option>
        			<option value="AU 14">"AU 14"</option>
            </select>
            </div>
          </form>
            <p>Clothatar Suggested Size : {{ match_result.suggest_size }}</p>
            <button type="button" id="matchquery" class="btn btn-primary" onclick="document.getElementById('table_detail').style.display='block'">match detail</button>

		</div>


      <div class="table-responsive" id="table_detail" style="display:none">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>size</th>
              <th>matchpoint</th>
              <th>waist</th>
              <th>hips</th>
              <th>bust</th>

            </tr>
          </thead>
          <tbody id="matchpoint_result">
            {% for match_info in match_result.clothings %}
            <tr>
              <td>{{ match_info.size }}</td>
              <td>{{ match_info.match_point }}</td>
              <td>{{ match_info.waist }}</td>
              <td>{{ match_info.hips }}</td>
              <td>{{ match_info.bust }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  </div>
       <!-- /.col-lg-3 -->

{% endblock %}
