{% extends "clothatar/base.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Cloathatar match 95%</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <h6>Measurement Breakdown</h6>
                <p class="card-text">Size: AU 12<p>
                <p>Bust: 79 mm</p>
                <p>waist: 61 mm</p>
                <p>hips: 89</p>
              </div>
              <div class="col-lg-3">
                <div class="card mt-3"><SPAN class="image-frame">
                  <img class="icon icon-quick-view" src="{% static 'img/female_3-bands_YYY.png' %}" height="180px" width="60px" alt="">
                </span>
                </div>
              </div>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- Page Content -->
    <div class="container">
      <div class="row">

        {% for cloth in clothings %}
        <div class="col-lg-3">
          <div class="card mt-3"><SPAN class="image-frame">
            <a href="{% url "clothatar:cloth_detail" cloth.family_id %}" >
              <img class="icon icon-quick-view" src="{% static cloth.pic_name %}" height="200px" width="175px" alt="">
            </a>
          </span>
            <div class="card-body">
              {% if user_login == 1 %}
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Clothatar match {{ cloth.match_point }}%</button>
              <p>
              <h6 class="card-text">Suggested size: {{ cloth.size }}</h6>
              {% endif %}

              <p class="card-text">Atmos&Here<p>
              <h6>${{ cloth.price }} </h6>
              <p class="card-text">{{ cloth.description }}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
    <!-- /.container -->
{% endblock %}
